<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>序号</th>
            <th>QQ</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td><b>123121212</b></td>
            <td><a class="btn  btn-md btn-primary">购买</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td><b>2341212</b></td>
            <td><a class="btn btn-primary">购买</a></td>

        </tr>
        <tr>
            <th scope="row">3</th>
            <td><b>43122112</b></td>
            <td><a class="btn btn-primary">购买</a></td>

        </tr>
        <tr>
            <th scope="row">1</th>
            <td><b>123121212</b></td>
            <td><a class="btn btn-primary">购买</a></td>

        </tr>
        <tr>
            <th scope="row">2</th>
            <td><b>2341212</b></td>
            <td><a class="btn btn-primary">购买</a></td>

        </tr>
        <tr>
            <th scope="row">3</th>
            <td><b>43122112</b></td>
            <td><a class="btn btn-primary">购买</a></td>

        </tr>
        <tr>
            <th scope="row">1</th>
            <td><b>123121212</b></td>
            <td><a class="btn btn-primary">购买</a></td>

        </tr>
        <tr>
            <th scope="row">2</th>
            <td><b>2341212</b></td>
            <td><a class="btn btn-primary">购买</a></td>

        </tr>
        <tr>
            <th scope="row">3</th>
            <td><b>43122112</b></td>
            <td><a class="btn btn-primary">购买</a></td>

        </tr>
        <tr>
            <th scope="row">1</th>
            <td><b>123121212</b></td>
            <td><a class="btn btn-primary">购买</a></td>

        </tr>
        <tr>
            <th scope="row">2</th>
            <td><b>2341212</b></td>
            <td><a class="btn btn-primary">购买</a></td>

        </tr>
        <tr>
            <th scope="row">3</th>
            <td><b>43122112</b></td>
            <td><a class="btn btn-primary">购买</a></td>

        </tr>
        <tr>
            <th scope="row">1</th>
            <td><b>123121212</b></td>
            <td><a class="btn btn-primary">购买</a></td>

        </tr>
        <tr>
            <th scope="row">2</th>
            <td><b>2341212</b></td>
            <td><a class="btn btn-primary">购买</a></td>

        </tr>
        <tr>
            <th scope="row">3</th>
            <td><b>43122112</b></td>
            <td><a class="btn btn-primary">购买</a></td>

        </tr>
        <tr>
            <th scope="row">1</th>
            <td><b>123121212</b></td>
            <td><a class="btn btn-primary">购买</a></td>

        </tr>
        <tr>
            <th scope="row">2</th>
            <td><b>2341212</b></td>
            <td><a class="btn btn-primary">购买</a></td>

        </tr>
        <tr>
            <th scope="row">3</th>
            <td><b>43122112</b></td>
            <td><a class="btn btn-primary">购买</a></td>

        </tr>
        </tbody>
    </table>
</div>