<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>序号</th>
            <th>QQ</th>
            <th>价格</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name='data' id='list'}
        <tr>
            <th scope="row">{$list.id}</th>
            <td><b>{$list.number}</b></td>
            <td>￥{$list.price}</td>
            <td>{$list.description}</td>
            <td><a class="btn btn-success" target="_blank" href="buy.html?id={$list.id}">购买</a></td>
        </tr>
        {/volist}
        </tbody>
    </table>
</div>