APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = qdm70682163.my3w.comDATABASE = qdm70682163_dbUSERNAME = qdm70682163PASSWORD = Hello123456HOSTPORT = 3306CHARSET = utf8DEBUG = true[LANG]default_lang = zh-cn