
<div class="row" style="width:100%">
    <div class="col-xs-12 text-center">
        <script type="text/javascript">
            var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");
            document.write(unescape("%3Cspan id='cnzz_stat_icon_1278044879'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1278044879%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));
        </script>
         <a href="http://www.beian.miit.gov.cn" target="_blank">  备案号：豫ICP备19021237号</a>
    </div>
</div>