<div class="row">
    <nav class="navbar navbar-default" id='top_menu'>
        <div class="container ">
            <div class="navbar-header">
                <!--在移动端的时候导航条折叠起来，三横的样式出现，点击该样式可以显示或隐藏导航条上的内容-->
                <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a href="#" class="navbar-brand">贴吧助手</a> -->
            </div>
            <div id="menu" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">首页</a>
                    </li>
                    <li>
                        <a href="{:url('timestamp')}">时间戳</a>
                    </li>
                    <li>
                        <a href="{:url('shorturl')}">短网址</a>
                    </li>
                    <li>
                        <a href="{:url('md5')}">MD5</a>
                    </li>
                    <li>
                        <a href="{:url('age')}">年龄计算</a>
                    </li>
                    <li>
                        <a href="{:url('qq/seven')}">7位QQ</a>
                    </li>
                    <li>
                        <a href="{:url('qq/eight')}">8位QQ</a>
                    </li>
                    <li>
                        <a href="{:url('qq/nine')}">9位QQ</a>
                    </li>
                    <!--                    <li>-->
                    <!--                        <a href="/index.php/index/id.html">身份证号生成</a>-->
                    <!--                    </li>-->
                    <!--                    <li>-->
                    <!--                        <a href="/index.php/index/check.html">证件号查询</a>-->
                    <!--                    </li>-->

                    <!--                    <li>-->
                    <!--                        <a href="/index.php/index/shorturl.html">缩短网址</a>-->
                    <!--                    </li>-->
                    <!--                    <li>-->
                    <!--                        <a href="/index.php/index/english.html">考研英语二</a>-->
                    <!--                    </li>-->
                    <!--                    &lt;!&ndash;<li>-->
                    <!--                        <a href="/index/replace.html">金蝉脱壳</a>-->
                    <!--                    </li>&ndash;&gt;-->
                    <!--                    <li>-->
                    <!--                        <a href="/index/taxpayer.php">工资计算2019</a>-->
                    <!--                    </li>-->
                    <!--                    <li>-->
                    <!--                        <a href="/index.php/article/index.html">技术文档</a>-->
                    <!--                    </li>-->
                    <!--                    <li>-->
                    <!--                        <a href="/index/comment.php">投诉建议</a>-->
                    <!--                    </li>-->
                </ul>
            </div>
        </div>
    </nav>
</div>